.block_students_header {
    color: #37308f;
}

.block_students_list {
    background-color: #eed9b9;
    border: 1px solid #ccc;
    display: block;
    padding: 0.5rem;
}

.block_students_list_item {
    align-items: center;
    background-color: #eee;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.25rem 0;
    padding: 0.25rem;
}

.block_students_list_item.active {
    background-color: #fff;
    box-shadow: 0 3px 6px #555, 0 3px 6px #555;
}

.block_students_additional {
    display: none;
}

.block_students_list_item.active .block_students_additional {
    display: block;
    margin: 10px 0 0;
}

.block_students_button {
    background-color: transparent;
    border: 0;
    color: #37308f;
    font-size: 16px;
    height: 20px;
    margin: auto;
    padding: 0;
    width: 20px;
}

.block_students_button:focus {
    outline: 0;
}

.block_students_button .saclose,
.block_students_button .saopen {
    margin-right: 0.5rem;
    vertical-align: top;
}

.block_students_button .saclose,
.block_students_list_item.active .saopen {
    display: none;
}
.block_students_list_item.active .block_students_button .saclose {
    display: block;
}
